{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="col-lg-7 offset-3">
        <div class="box" style="border: none;">
            <h1>{% trans %}log in{% endtrans %}</h1>


            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-group">
                <label for="username" class="required text-capitalize">{% trans %}login{% endtrans %}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       autocomplete="username" class="form-control" />
                </div>
                <div class="form-group">
                <label for="password" class="required text-capitalize">{% trans %}password{% endtrans %}</label>
                <input type="password" id="password" name="_password" required="required"
                       autocomplete="current-password" class="form-control" />
                </div>
                <div class="form-group text-capitalize">
                    <label class="btn btn-outline-primary">
                        <input type="checkbox" autocomplete="off">
                        <span class="glyphicon glyphicon-ok"></span>
                        {% trans %}remember me{% endtrans %}
                    </label>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>{% trans %}log in{% endtrans %}</button>
                </div>

                <hr />

                <p class="text-muted">
                    {% trans %}Not registered yet{% endtrans %}?
                    <a class="text-capitalize" href="{{ path('fos_user_registration_register') }}">{% trans %}register now{% endtrans %}</a>, {% trans %} it is easy and done in 1 minute and gives you access to special discounts and much more {% endtrans %}.
                </p>

            </form>
        </div>
    </div>
</div>