{% extends 'base.html.twig' %}


{% block title %}{{ 'address'|trans|capitalize }}{% endblock %}

{% block body %}

    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="capitalize_first_letter">{% trans %}address{% endtrans %}</h1>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
    <div id="checkout" class="col-lg-9">
    <div class="">

        {{ include('/cart/_table_header.html.twig', {active: 1}) }}

        <div class="content">
            <div class="row">
                <table class="table">
                {% for key, child in form.children.address %}
                        <tr>
                            <td>
                                {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4'}}) }}

                            {{ form.children.address.vars.choices[key].data.zip }}
                                , {{ form.children.address.vars.choices[key].data.address }}</td>
                        </tr>


                {% endfor %}
                    </table>
            </div>
        </div>
        <hr/>
        {{ include('/cart/_table_header.html.twig', {active: 2}) }}

        <div class="content">
            <div class="row">
                <table>
                {% for key, child in delivery.children.delivery %}

                        <tr>
                            <td class="">
                                {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4'}}) }}
                            {{ delivery.children.delivery.vars.choices[key].data.description }}</td>
                        </tr>

                {% endfor %}
                </table>
            </div>
        </div>
        <hr/>
        {{ include('/cart/_table_header.html.twig', {active: 3}) }}
        <div class="content">
            <div class="row">
                <table>
                {% for key, child in payment.children.payment %}

                        <tr>
                            <td >
                                {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4'}}) }}
                            {{ payment.children.payment.vars.choices[key].data.description }}</td>
                        </tr>
                {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <hr/>
    {{ include('/cart/_table_header.html.twig', {active: 4}) }}
    <div class="content">
        <div class="row align-content-center center-block">
            <div class="col-lg-6 align-content-center center-block col-lg-offset-3">
                <div class="box-footer center-block">
                    <div class="pull-left">
                        <a href="{{ path('cart_index') }}" class="btn btn-outline-white-secondary "><i
                                    class="fa fa-chevron-left"></i>{% trans %}back to cart{% endtrans %}</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit"
                                class="btn btn-outline-white-secondary ">{% trans %}proceed to delivery{% endtrans %}<i
                                    class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}