{% extends 'base.html.twig' %}


{% block title %}{{ 'proceed to checkout'|trans|capitalize }}{% endblock %}

{% block body %}

    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="capitalize_first_letter">{% trans %}proceed to checkout{% endtrans %}</h1>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
    <div id="checkout" class="col-lg-9">
    <div class="">




        <div class="row">
            <table style="width: 100%;">
                <tr class="nav nav-pills nav-fill">
                    <td class="nav-item nav-link  active"><i class="fa fa-map-marker"></i><br>{% trans %}address{% endtrans %}</td>
                </tr>
                {% for key, child in form.children.address %}
                    <tr>
                        <td>
                            {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4 nomargin'}}) }}
                            {{ form.children.address.vars.choices[key].data.zip }}, {{ form.children.address.vars.choices[key].data.address }}
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>

                {% endfor %}
            </table>
        </div>


        <div class="row">
            <table>
                <tr class="nav nav-pills nav-fill">
                    <td class="nav-item nav-link  active"><i class="fa fa-truck"></i><br>{% trans %}delivery{% endtrans %}</td>
                </tr>
                {% for key, child in form.children.delivery %}

                    <tr>
                        <td class="">
                            {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4 nomargin'}}) }}
                            {{ form.children.delivery.vars.choices[key].data.description }}</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                {% endfor %}
            </table>
        </div>

        <div class="row">
            <table>
                <tr class="nav nav-pills nav-fill">
                    <td class="nav-item nav-link  active"><i class="fa fa-money"></i><br>{% trans %}payment{% endtrans %}</td>
                </tr>
                {% for key, child in form.children.payment %}

                    <tr>
                        <td >
                            {{ form_widget(child, {'label_attr': {'class': 'noasterisk black_label h4 nomargin'}}) }}
                            {{ form.children.payment.vars.choices[key].data.description }}</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <hr />
    <div class="content">
        <div class="row align-content-center center-block">
            <div class="col-lg-6 align-content-center center-block col-lg-offset-3">
                <div class="box-footer center-block">
                    <div class="pull-left">
                        <a href="{{ path('cart_index') }}" class="btn btn-outline-white-secondary "><i class="fa fa-chevron-left"></i>{% trans %}back to cart{% endtrans %}</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-outline-white-secondary ">
                            {% trans %}place an order{% endtrans %}<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}