{% extends 'base.html.twig' %}


{% block title %}{{ 'delivery'|trans|capitalize }}{% endblock %}

{% block body %}
<style>
    .form-check{
        width: 10% !important;
        display: inline !important;
    }
</style>
    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="capitalize_first_letter">доставка</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="basket" class="col-lg-9">
            <div id="accordion" class="accordion mb-5">
                {{ form_start(form) }}
                {% for key, child in form.children.delivery %}
                    <div class="card">
                        <div id="heading{{ key }}" class="card-header bg-primary">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapse{{ key }}" href="" class="text-white collapsed">
                                     {{ form_widget(child) }} {{ form.children.delivery.vars.choices[key].data.title }} {{ form.children.delivery.vars.choices[key].data.price }} &#x20bd;
                                </a>
                            </h5>
                        </div>
                        <div aria-labelledby="heading{{ key }}" data-parent="#accordion" id="collapse{{ key }}" class="collapse" style="">
                            <div class="card-body">
                                <p>{{ form.children.delivery.vars.choices[key].data.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}