<div class="row">
    <div class="col-lg-7 offset-3">
        <div class="box" style="border: none;">
            <h1 class="capitalize_first_letter">{% trans %}new account{% endtrans %}</h1>
            <p>
                With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process
                will not take you more than a minute!
            </p>
            <p class="text-muted">If you have any questions, please feel free to <a href="{{ path('contacts') }}">contact us</a>, our customer service center is working for you 24/7.</p>
            <hr>

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary "><i class="fa fa-user-md"></i>{% trans %}register{% endtrans %}</button>
            </div>
            {{ form_end(form) }}
        </div>

        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="capitalize_first_letter text-right">{% trans %}already registered{% endtrans %}? &nbsp;</td>
                <td class="capitalize_first_letter"><a class="capitalize_first_letter" href="{{ path('fos_user_security_login') }}">{% trans %}log in here{% endtrans %}</a>.</td>
            </tr>
        </table>
    </div>
</div>




