{% extends 'base.html.twig' %}

{% block title %}{{ category.name | capitalize }} - купить {% endblock %}
{% block body %}
    {% if category %}
        {{ render(controller('App\\Controller\\DefaultController::breadcrumbs',{ 'node': category } )) }}
    {% endif %}
    <!-- *** ADVANTAGES ***-->
    <div id="advantages">
        <div class="box text-center">
            <h3 class="text-uppercase">{{ category.name }}</h3>
            <p>{{ category.description }}</p>
            <div class="same-height-row row">
                {% for category in categories %}
                    <div class="col-md-3 col-6 justify-content-md-center align-items-md-center">
                        <div class="box no-border d-flex justify-content-center align-items-center">
                            <h4><a href="{{ path('category', {'slug':category.node_slug }) }}">{{ category.node_name }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /#advantages-->
    <!-- *** ADVANTAGES END ***-->
{% endblock %}
