{% extends 'base.html.twig' %}

{% block title %}<title>{{ category.name ~ ' | ' ~ title_postfix }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ category.name }}" />{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\ADefaultController::breadcrumbs',{ 'node': category } )) }}
    <div class="box text-center">

            <div class="same-height-row row justify-content-md-center align-items-md-center">
                {% for c in categories %}
                    {% if c.id != category.id  %}
                        {% include 'category/item.html.twig' with {'category': c} %}
                    {% endif %}
                {% endfor %}
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>{{ category.name }}</h1>
                </div>
            </div>

            <div class="row products">
                {% for product in products %}
                    {% include 'product/short.html.twig' with {'product': product} %}
                {% endfor %}
            </div>

        </div>


    <div class="pages">
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(products) }}
        </nav>
    </div>

    {% if 1 is same as (page) %}
    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                    <p>
                        {{ category.description }}
                    </p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
