<div id="all">
    <div id="content">
        <div class="container">
        </div>
    </div>
    <!-- *** FOOTER ***-->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h4 class="capitalize_first_letter">{% trans %}pages{% endtrans %}</h4>
                    <ul>
                        <!--
                        <li class="capitalize_first_letter"><a href="{{ path('page', {'slug': 'about'}) }}">{% trans %}about us{% endtrans %}</a></li>
                        <li class="capitalize_first_letter"><a href="{{ path('page', {'slug': 'termsandconditions'}) }}" >{% trans %}terms and conditions{% endtrans %}</a></li>
                        -->
                        <li style="text-transform: uppercase"><a href="{{ path('page', {'slug': 'faq'}) }}">{% trans %}faq{% endtrans %}</a></li>
                        <li class="capitalize_first_letter"><a href="{{ path('page', {'slug': 'contacts'}) }}">{% trans %}contact us{% endtrans %}</a></li>
                    </ul>
                    <hr>
                    <h4 class="capitalize_first_letter">{% trans %}user section{% endtrans %}</h4>
                    <ul>
                        {% if is_granted('ROLE_USER') %}
                            <li class="capitalize_first_letter"><a href="{{ path('my_main') }}">{% trans %}personal account{% endtrans %}</a></li>
                        {% else %}
                            <li class="capitalize_first_letter"><a href="{{ path('fos_user_security_login') }}">{% trans %}log in{% endtrans %}</a></li>
                            <li class="capitalize_first_letter"><a href="{{ path('fos_user_registration_register') }}">{% trans %}register{% endtrans %}</a></li>
                        {% endif %}

                    </ul>
                    <hr class="d-block d-lg-none">
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="capitalize_first_letter">{% trans %}top categories{% endtrans %}</h4>
                    <ul>
                        {% for c in categories %}
                        <li><a href="{{ path('category', {'slug':c.slug }) }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr class="d-block d-lg-none">
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="capitalize_first_letter">{% trans %}where to find us{% endtrans %}</h4>
                    {% if russian_name is defined and russian_name %}
                    <p>
                        <strong class="text-capitalize">{{ russian_name }}</strong>
                            <br>
                            <br>{% trans %}13/25 New Avenue{% endtrans %}
                            <br>{% trans %}new heaven{% endtrans %}
                            <br>{% trans %}45Y 73J{% endtrans %}
                            <br><span class="text-capitalize">{% trans %}england{% endtrans %}</span>
                            <br>
                        <strong class="text-capitalize">{% trans %}great britain{% endtrans %}</strong>
                    </p>
                    {% endif %}
                    <a href="{{ path('page', {'slug': 'contacts'}) }}" class="text-capitalize">{% trans %}go to contact page{% endtrans %}</a>
                    <hr class="d-block d-md-none">
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="capitalize_first_letter">{% trans %}stay in touch{% endtrans %}</h4>
                    {% if vk is defined and vk %}
                        <p class="social"><a href="{{ vk }}"><i class="fa fa-vk"></i></a></p>
                    {% endif %}
                </div>
                <!-- /.col-lg-3-->
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
</div>
