{% extends 'empty.html.twig' %}

{% block title %}<title>{{ main_html_title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ html_description }}" />{% endblock %}

{% block javascripts %}
        <script src="/shop/js/owl.carousel.min.js"></script>
{% endblock %}

{% block body %}

        {{ render(controller('App\\Controller\\ADefaultController::header')) }}

        {{ render(controller('App\\Controller\\ADefaultController::inner')) }}

        {{ render(controller('App\\Controller\\ADefaultController::footer')) }}

{% endblock %}
