{% extends 'base.html.twig' %}

{% block title %}<title>{{ product.title ~ ' | ' ~ product_title_postfix }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{  product.title ~ ' | ' ~ product_description_postfix }}" />{% endblock %}

{% block body %}
            {{ render(controller('App\\Controller\\ADefaultController::breadcrumbs',{ 'node': product.categories[0], 'product': product } )) }}
            <div class="box text-center">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h1>{{ product.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="productMain" class="row">
                        <div class="col-md-6">
                            {% set im = images[0] %}
                            <div id="mainImage"><img src="/upload/{{ im.name[:1] }}/{{ im.name[1:1] }}/{{ im.name}}.{{ im.ext}}" alt="" class="img-fluid" /></div>
                            {% if product.salePrice %}
                                <div class="ribbon sale">
                                    <div class="theribbon">{% trans %}sale{% endtrans %}</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            {% endif %}
                            {% if product.new %}
                                <div class="ribbon new">
                                    <div class="theribbon">{% trans %}new{% endtrans %}</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <form>
                                <p class="price capitalize_first_letter">{% trans %}price{% endtrans %}:
                                    {% if product.salePrice %}
                                        {{ product.salePrice }} &#8381;
                                    {% else %}
                                        {{ product.price }} &#8381;
                                    {% endif %}
                                </p>
                                <p class="text-center">
                                    {% if product.outOfStock %}
                                        {% trans %}Out of stock{% endtrans %}
                                    {% else %}
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <button  id="button_add_cart" type="button" class="btn btn-primary" onclick="add(this, {{ product.id }})"><i class="fa fa-shopping-cart"></i> {% trans %}Add to cart {% endtrans %}</button>
                                        {% else %}
                                            <button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-outline-secondary mr-1" >
                                                <i class="fa fa-shopping-cart"></i> {% trans %}Add to cart{% endtrans %}
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </p>
                            </form>
                            <div id="thumbs" class="row">
                                {% for i in images %}
                                        <div class="col-4">
                                            <a href="/upload/{{ i.name[:1] }}/{{ i.name[1:1] }}/{{ i.name}}.{{ i.ext}}" class="thumb" >
                                                <img src="/upload/{{ i.name[:1] }}/{{ i.name[1:1] }}/{{ i.name}}_160x160.{{ i.ext}}" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                 {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div id="details" class="box">
                        <h4>{{ product.title }}</h4>
                        {{ product.description | raw }}
                    </div>
                </div>
            </div>
{% endblock %}
