<div class="col-md-4 col-sm-6">
    <div class="product">
        <div class="image"><a href="{{ path('product_show', {'id' : product.id }) }}"><img src="/upload/{{ product.image_name[:1] }}/{{ product.image_name[1:1] }}/{{ product.image_name}}.{{ product.image_ext}}" alt="" class="img-fluid image1"></a>
            <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">{% trans %}Quick view{% endtrans %}</a></div>
        </div>
        <!-- /.image-->
        <div class="text">
            <h3><a href="#" data-toggle="modal" data-target="#product-quick-view-modal">{{  product.title }}</a></h3>
            <p class="price">

                <del>$280</del>&nbsp;{{  product.price }} &#8381; &nbsp;&nbsp;
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="javascript:void(0)" onclick="addBasket({{ product.id }})" class="btn btn-outline-primary mr-1" title="в корзину"><i class="fa fa-shopping-cart"></i></a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-primary mr-1" title="в корзину"><i class="fa fa-shopping-cart"></i></a>
                {% endif %}
            </p>

        </div>
        <!-- /.text-->
    </div>
    <!-- /.product-->
</div>