<div class="col-md-3 col-sm-4">
    <div class="product">
        <div class="image">
            <a href="{{ path('product_show', {'id' : product.id }) }}">
                <img src="/upload/{{ product.image_name[:1] }}/{{ product.image_name[1:1] }}/{{ product.image_name}}_450x450.{{ product.image_ext}}" alt="" class="img-fluid " />
            </a>
        </div>
        <!-- /.image-->
        <div class="text">
            <h3 style="overflow: hidden;"><a href="{{ path('product_show', {'id' : product.id }) }}">{{  product.title }}</a></h3>
            <p class="price">

                {% if product.sale_price %}
                    <del>{{  product.price }} &#8381;</del>&nbsp;{{  product.sale_price }} &#8381; &nbsp;&nbsp;
                {% else %}
                    {{  product.price }} &#8381; &nbsp;&nbsp;
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="javascript:void(0)" onclick="add(this, {{ product.id }})" class="btn btn-primary mr-1" title="в корзину"><i class="fa fa-shopping-cart"></i></a>
                {% else %}
                    <button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-outline-secondary mr-1">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                {% endif %}
            </p>

        </div>
        <!-- /.text-->
    </div>
    <!-- /.product-->
</div>
